<title>{{.Site_Title}}</title>
<body>
	<main>
	<h2>blog</h2>
    <a href="/new">+ new blog</a>
    <ul>
        {{range .Posts}}
        <li>
            <a href="/{{.Author}}/blog/{{.Slug}}">{{.Title}}</a> |
            <a href="/edit/{{.Slug}}">Edit</a> |
            <a href="/delete/{{.Slug}}" onclick="return confirm('y or n');">Delete</a>
        </li>
        {{end}}
    </ul>

    <div class="pagination">
        {{if gt .Page 1}}
            <a href="/dashboard?page={{sub .Page 1}}">Prev</a>
        {{end}}

        <span>{{.Page}}</span>

        {{if eq (len .Posts) .Limit}}
            <a href="/dashboard?page={{add .Page 1}}">Next</a>
        {{end}}
    </div>

	<h2>misc</h2>
    <p><a href="/new">+ new misc</a></p>

    <ul>
        {{range .Miscs}}
        <li>
            <a href="/{{.Author}}/misc/{{.Slug}}">{{.Title}}</a> |
            <a href="/edit/{{.Slug}}">Edit</a> |
            <a href="/delete/{{.Slug}}" onclick="return confirm('y or n');">Delete</a>
        </li>
        {{end}}
    </ul>
    <div class="pagination">
        {{if gt .Page 1}}
            <a href="/dashboard?page={{sub .Page 1}}">Prev</a>
        {{end}}

        <span>{{.Page}}</span>

        {{if eq (len .Miscs) .Limit}}
            <a href="/dashboard?page={{add .Page 1}}">Next</a>
        {{end}}
	</main>
</body>
