<div class="top-links">
	<a rel="nofollow" href="https://radhitya.org">radhitya</a> |
	<a rel="nofollow" href="https://laskarnix.org">laskarnix.org</a> |
	<a rel="nofollow" href="https://werc.cat-v.org">werc</a> |
	<a rel="nofollow" href="https://harmful.cat-v.org/">cat-v</a> |
	<a rel="nofollow" href="https://suckless.org">suckless</a>
</div>

<header>
	<h1><a href="/">{{.Site_Title}}</a></h1>
  <h2><i>{{.Site_Subtitle}}</i></h2>

  {{if .Logged}}
  <p> logged in as
  <a href="/dashboard"><strong>{{.Username}}</strong></a> - <a href="/logout">logout</a>
  </p>
  <ul>
      <li><a href="/settings">settings</a></li>
  </ul>
  {{end}}
  <nav class="sidebar">
	  <details open>
		  <summary><strong>navigation</strong></summary>
		  <ul>
			  <li><a href="/blog">blog</a></li>
			  <li><a href="/misc">misc</a></li>
		  </ul>
	  </details>
  </nav>
  <div class="search-container">
	<form action="/search" method="get">
		<input type="text" placeholder="Search..." name="q">
		<button type="submit">Search</button>
	</form>
  </div>
</header>

