<main>
	{{if .Error}}<p style="color:red">{{.Error}}</p>{{end}}
	<p>for blog</p>
	<form method="post" action="/blog/{{.Slug}}/unlock">
		<input name="page_password" value="" autocomplete="off" type="password" placeholder="pass?">
		<button type="submit">Submit</button>
	</form>
	<p>for misc</p>
	<form method="post" action="/misc/{{.Slug}}/unlock">
		<input name="page_password" value="" autocomplete="off" type="password" placeholder="pass?">
		<button type="submit">Submit</button>
	</form>
</main>

