<div class="top-links">
	<a rel="nofollow" href="https://radhitya.org">radhitya</a> |
	<a rel="nofollow" href="https://100indie.org">100indie</a> |
	<a rel="nofollow" href="https://werc.cat-v.org">werc</a> |
	<a rel="nofollow" href="https://harmful.cat-v.org/">cat-v</a> |
	<a rel="nofollow" href="https://suckless.org">suckless</a>
</div>

<header>
	<h1><a href="/">{{.Title}}</a></h1>
  <h2><i>{{.Subtitle}}</i></h2>

  {{if .Logged}}
  <p> logged in as
  <a href="/dashboard"><strong>{{.Username}}</strong></a> - <a href="/logout">logout</a>
  </p>
  {{end}}
  <nav class="sidebar">
	  <details open>
		  <summary><strong>navigation</strong></summary>
		  <ul>
			  <li><a href="/post">post</a></li>
			  <li><a href="/misc">misc</a></li>
		  </ul>
	  </details>
  </nav>
</header>