<title>{{.Title}}</title>
<body>
	<main>
		<h1>{{.Title}}</h1>
		{{if .Thumbnail}}
		<img src="{{.Thumbnail}}" alt="{{.Title}}" style="max-width: 100%;">
		{{end}}
		<div>{{.HTML | safeHTML}}</div>
		{{if .Youtube}}
		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Youtube}}" frameborder="0" allowfullscreen></iframe>
		{{end}}
		{{if .Profile_Name}}
		<div class="profile-box">
			{{if .Profile_Image}}
			<img src="{{.Profile_Image}}" alt="{{.Profile_Name}}" class="profile-image">
			{{end}}
			<div class="profile-info">
				<h3>{{.Profile_Name}}</h3>
				<p>{{.Profile_Description}}</p>
			</div>
		</div>
		{{end}}
	</main>
</body>


